azureml-core
azure-ai-ml
mlflow
azureml-mlflow
# manage mltable data assets
#azureml-dataprep
#mltable

# config
python-decouple

# data models
pydantic

# data science
scikit-learn==1.5.2 # specific version before sklearn changed to their tag system, causing an error for the corrent version of xgboost
pandas
polars
mlflow
xgboost
# matplotlib
seaborn
marimo

# local backend API
fastapi[standard]

PyYAML  # Required for MLflow
